src/main/app/executors.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="dwExecutor">
        <enricher doc:name="Message Enricher">
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
            </dw:transform-message>
            <enrich source="#[payload.payload]" target="#[flowVars.payload]"/>
            <enrich source="#[payload.expresion]" target="#[flowVars.expresion]"/>
            <enrich source="#[payload.inputType]" target="#[flowVars.inputType]"/>
            <enrich source="#[payload.outputType]" target="#[flowVars.outputType]"/>
        </enricher>
        <component class="ru.ekabardinsky.tool.dwninja.dw.RequestProcessor" doc:name="Java"/>
        <set-payload value="#[dw(flowVars.expresion, flowVars.outputType)]" doc:name="Set Payload"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <component class="ru.ekabardinsky.tool.dwninja.dw.ResponseProcessor" doc:name="Java"/>
        <set-property propertyName="content-type" value="#[flowVars.outputType]" doc:name="Property"/>
    </flow>
</mule>
